LOOPS
 - FOR loop
 - WHILE loop

In [5]:
lst=[3,5,7,9,11,13,15,17,19]
for i in lst: # "i" is POINTER VARIABLE 
    print(i,end=" ")

3 5 7 9 11 13 15 17 19

In [6]:
fruits=["Mango","Apple","Banana","Cherry","Melon"]
for i in fruits:
    print(i)

Mango
Apple
Banana
Cherry
Melon

In [7]:
name="PYTHON"
for i in name:
    print(i)

P
Y
T
H
O
N

In [8]:
for num in range(21):
    print(num,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [11]:
for num in range(1,6):
    print(num,end=" ")

1 2 3 4 5

In [10]:
for num in range(1,21,2):
    print(num,end=" ")

1 3 5 7 9 11 13 15 17 19

In [18]:
for i in range(5):
    print("Faizan",end=" ")

Faizan Faizan Faizan Faizan Faizan

In [17]:
for i in range(2,21,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [24]:
a=0
while a<=5:
    print(a)
    a+=1

0
1
2
3
4
5

In [26]:
a=0
while a<=20:
    print(a,end=" ")
    a+=2

0 2 4 6 8 10 12 14 16 18 20

In [27]:
a=1
while a<=20:
    print(a,end=" ")
    a+=2

1 3 5 7 9 11 13 15 17 19

- Continue
- Break

In [5]:
fruits=["Apple","Banana","Mango","Onion","Orange","Kiwi"]
for i in fruits:
    if i=="Onion":
        break
    print(i)

Apple
Banana
Mango

In [3]:
fruits=["Apple","Banana","Mango","Onion",'Orange',"Kiwi"]
for i in fruits:
    if i =="Onion":
        continue
    print(i)

Apple
Banana
Mango
Orange
Kiwi

In [16]:
# print first 4 alphabhets of your name
 
name = "faizan"

first_four_letters = [name[i] for i in range(4)]

print(first_four_letters)

['f', 'a', 'i', 'z']

In [18]:
name=['f','a','i','z','a','n']

n=0

for letter in name:
        # Print the current letter
        print(letter)
        n += 1
        
        # Check if we have printed 4 letters
        if n == 4:
            break  # Exit the loop when 4 letters are printed

f
a
i
z

In [20]:
name=['f','a','i','z','a','n']
a = name[4]
for i in name:
    if i==a :
        break
    print(i)

f

In [11]:
int=[5,8,9,11]
sum=0
for i in int:
    sum+=i
print(sum)

33

In [12]:
for i,v in enumerate(fruits):
    print(f"{i}. {v}")

0. Apple
1. Banana
2. Mango
3. Onion
4. Orange
5. Kiwi