DICTIONARY

- How to declare it 
- How to access key and values of a dictionary
- How to use loops in dictionary
- indexing in dictionary

In [1]:
student ={
    "Name":"John",
    "Class" : "Physics",
    "Roll_no": 12,
    "Age": 18,
    "Marks": 70 
}        
    
print(student)

{'Name': 'John', 'Class': 'Physics', 'Roll_no': 12, 'Age': 18, 'Marks': 70}

In [2]:
temp= {
    'Lucknow':[30,40,25],
    'Delhi':[27,30,40],
    'Mumbai':[27,45,33]
}
print(temp)

{'Lucknow': [30, 40, 25], 'Delhi': [27, 30, 40], 'Mumbai': [27, 45, 33]}

In [3]:
info =dict(Name='John',age=22,city="New York")
print(info)

{'Name': 'John', 'age': 22, 'city': 'New York'}

In [4]:
info2 =dict([('Name','Faizan'),("age",22),("City","Lucknow")])
print(info2)

{'Name': 'Faizan', 'age': 22, 'City': 'Lucknow'}

In [5]:
info3=dict(Name=input("Enter your name :"), Age=int(input("Enter your age")),City=input("Enter your city"))
print(info3)

{'Name': 'Faizan', 'Age': 5, 'City': 'lucknow'}

In [8]:
# 1st meathod to access value through key

print(student['Name'])
print(student['Roll_no'])

John
12

In [9]:
# 2nd meathod to access value through key

print(student.get('Name'))
print(student.get('Roll_no'))
print(student.get('Marks'))

John
12
70

In [10]:
# To add items in a dictionary

student['student'] = 'DPS'
print(student)

{'Name': 'John', 'Class': 'Physics', 'Roll_no': 12, 'Age': 18, 'Marks': 70, 'student': 'DPS'}

In [13]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['Name', 'Class', 'Roll_no', 'Age', 'Marks', 'student'])
dict_values(['John', 'Physics', 12, 18, 70, 'DPS'])
dict_items([('Name', 'John'), ('Class', 'Physics'), ('Roll_no', 12), ('Age', 18), ('Marks', 70), ('student', 'DPS')])

In [14]:
for k in student:
    print(k)

Name
Class
Roll_no
Age
Marks
student

In [15]:
for k,v in student.items():
    print(f'{k} : {v} ')

Name : John
Class : Physics
Roll_no : 12
Age : 18
Marks : 70
student : DPS

In [16]:
# Nested Dictionary

company = {
    'emp001' : {'Name' : 'John', 'Age' : 27,'Dept' : 'HR','Salary' : 30000},
    'emp002' : {'Name' : 'Smith', 'Age' : 24,'Dept' : 'Engineering','Salary' : 50000},
    'emp003' : {'Name' : 'Mark', 'Age' : 30,'Dept' : 'Finance','Salary' : 40000}
    }
print(company)

{'emp001': {'Name': 'John', 'Age': 27, 'Dept': 'HR', 'Salary': 30000}, 'emp002': {'Name': 'Smith', 'Age': 24, 'Dept': 'Engineering', 'Salary': 50000}, 'emp003': {'Name': 'Mark', 'Age': 30, 'Dept': 'Finance', 'Salary': 40000}}

In [17]:
from pprint import pp
pp(company)

{'emp001': {'Name': 'John', 'Age': 27, 'Dept': 'HR', 'Salary': 30000},
 'emp002': {'Name': 'Smith', 'Age': 24, 'Dept': 'Engineering', 'Salary': 50000},
 'emp003': {'Name': 'Mark', 'Age': 30, 'Dept': 'Finance', 'Salary': 40000}}

In [18]:
print(company['emp001']['Name'])

John

In [26]:
company['emp004'] = {
    'Name': 'Alice',
    'Age': 29,
    'Dept': 'Marketing',
    'Salary': 35000
}
print(company)

{'emp001': {'Name': 'John', 'Age': 27, 'Dept': 'HR', 'Salary': 30000}, 'emp002': {'Name': 'Smith', 'Age': 24, 'Dept': 'Engineering', 'Salary': 50000}, 'emp003': {'Name': 'Mark', 'Age': 30, 'Dept': 'Finance', 'Salary': 40000}, 'emp004': {'Name': 'Alice', 'Age': 29, 'Dept': 'Marketing', 'Salary': 35000}}

In [23]:
print(temp['Lucknow'][1])
print(temp['Delhi'][2])

40
40

In [25]:
#print average temp of delhi

print('Average temprature of Delhi is : ',sum(temp['Delhi'])/len(temp['Delhi']))

Average temprature of Delhi is :  32.333333333333336